@{
    ViewData["Title"] = "Statistics Management Page";
}
@section CSS
{
    <link rel="stylesheet" href="~/css/Customer.min.css" />
}

@section JS
{
}

@* Sidebar *@
<section>
    @await Component.InvokeAsync("Sidebar")
    <main>

    </main>
</section>
