<footer class="footer">
    <div class="st-column">
        <img src="~/icons/logo.png" />
        <div class="descripion">
            Beneath the cerulean sky, the quaint village bustled with life as the morning sun cast a golden glow over
            the cobblestone streets.
        </div>
        <div class="social-logo">
            <div class="logo">
                <i class="fa-brands fa-youtube"></i>
            </div>
            <div class="logo">
                <i class="fa-brands fa-square-facebook"></i>
            </div>
            <div class="logo">
                <i class="fa-brands fa-square-instagram"></i>
            </div>
        </div>
    </div>
    <div class="nd-column">
        <div class="title">Quick Links</div>
        <div>About us</div>
        <div>Contact us</div>
        <div>Products</div>
        <div>Login</div>
        <div>Sign up</div>
    </div>
    <div class="rd-column">
        <div class="title">Customer Area</div>
        <div>My account</div>
        <div>Orders</div>
        <div>Tracking list</div>
        <div>My cart</div>
        <div>Term</div>
    </div>
    <div class="th-column">
        <div class="title">CONTACT</div>
        <div class="info">Beneath the cerulean sky, the quaint village bustled with life as the morning sun cast a
            golden glow over the cobblestone streets.</div>
    </div>
</footer>