<header class="header">
    <container class="ctn-1">
        <section>
            <a href="#" class="complex">
                <img class="icon" src="~/icons/telephone.svg" />
                <span class="icon-content">+84 798 399 9868</span>
            </a>
            <a href="#" class="complex">
                <img class="icon" src="~/icons/mail.svg" />
                <span class="icon-content">21522709@gm.uit.edu.vn</span>
            </a>
            <a href="#" class="complex">
                <img class="icon" src="~/icons/location.svg" />
                <span class="icon-content">Địa chỉ cửa hàng</span>
            </a>
            <a href="#" class="complex">
                <img class="icon" src="~/icons/track.svg" />
                <span class="icon-content">Theo dõi dơn hàng</span>
            </a>
        </section>

    </container>
    <container class="ctn-2">
        <section class="ss-1">
            <img class="logo" src="~/icons/logo.png" alt="">
            <div class="search-ctn">
                <input id="search-box" placeholder="Tìm kiếm sản phẩm..." type="text">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="clear-icon">
                    <i class="fa-solid fa-circle-xmark"></i>
                </div>
            </div>
            <a class="icon"><img src="~/icons/cart.svg" alt=""></a>
            <div class="account">
                <img src="~/icons/user.svg" alt="">
                <span>MY ACCOUNT</span>
            </div>
        </section>
        <section class="ss-2">
            <a href="#">All Categories</a>
            <a href="#">Accesories</a>
            <a href="#">Computers</a>
            <a href="#">Smartphones</a>
            <a href="#">Gaming Equipments</a>
            <a href="#">Headphones</a>
            <a href="#" class="hot-deal">
                <img src="~/icons/fire.svg" alt="">
                <span>HOT DEALS</span>
            </a>
        </section>
    </container>
</header>
