<aside>
    <div class="menu">
        <img class="logo" src="~/icons/logo.png">
        <a asp-action="Index" asp-controller="Customers">
            <i class="fa-regular fa-user"></i>
            <span>Khách hàng</span>
        </a>
        <a asp-action="Index" asp-controller="Products">
            <i class="fa-solid fa-laptop"></i>
            <span>Sản phẩm</span>
        </a>
        <a asp-action="Index" asp-controller="Orders">
            <i class="fa-solid fa-cube"></i>
            <span>Đơn hàng</span>
        </a>
        <a asp-action="Index" asp-controller="Statistics">
            <i class="fa-regular fa-chart-bar"></i>
            <span>Thống kê</span>
        </a>
        <a asp-action="Index" asp-controller="Customers">
            <i class="fa-regular fa-user"></i>
            <span>Tài khoản</span>
        </a>
    </div>
</aside>